.images_option {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.size {
  padding: 8px 15px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dad7d7;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;

}

.reset {
  display: flex;
  gap: 5px;
}
.choose {
  display: flex;
  gap: 5px;
}

.undo,
.redo {
  background-color: #4a55f3;
  color: #fff;
  font-size: 18px;
}
.crop {
  background-color: #8e33b7;
}

.images_option label {
  background-color: #115811;
}


.images_option input {
  display: none;
}

.resetbtn{
    background-color: rgb(242,53,85);
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.Savebtn{

    background-color: #e335f3 !important; 
    padding: 8px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #dad7d7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}


.choose label:hover{
    transform: scale(1.03);
    transition: all 0.5s;
}