.images_option {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.size {
  padding: 8px 15px;
}

.reset {
  display: flex;
  gap: 5px;
}
.choose {
  display: flex;
  gap: 5px;
}

.undo,
.redo {
  background-color: #4a55f3;
  color: #fff;
  font-size: 18px;
}
.crop {
  background-color: #8e33b7;
}

.images_option label {
  background-color: #115811;
  margin-left: 5px;
}
.choose label,
button {
  padding: 8px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #dad7d7;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 15px;
}

.images_option input {
  display: none;
}
