.header{
    background-color: aliceblue;
    width: 100%;
}
.header h2{
    margin-left: -10px;
    font-family:cursive
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}



